.socialList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialListItem:not(:last-child) {
  margin-right: 10px;
}

.socialListLinkBlock {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  /* @include animation(); */
}

.socialListLinkIcons {
  width: 20px;
  height: 20px;
  transition-property: fill;
  /* @include animation(); */
}
