@value transition-time, transition-function, svg-color-accent, title-dark-theme-color, accent-color, text-dark-theme-color, footer-bgc from "../../assets/utils/variables.module.css";
.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: footer-bgc;
}
.container {
  /* background-color: footer-bgc; */
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  color: title-dark-theme-color;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: title-dark-theme-color;
}

.contact {
  text-align: center;
}
.map {
  color: title-dark-theme-color;
}

.contactLogo {
  margin-top: 0px;
  margin-bottom: 20px;
}
.contactAdressListItem:not(:last-child) {
  margin-bottom: 8px;
}
.contactAdressListItemLink {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: text-dark-theme-color;
  transition-property: color;
  transition-duration: transition-time;
  transition-timing-function: transition-function;
  /* @include animation (); */
}
.contactAdressListItemLink:hover,
.contactAdressListItemLink:focus {
  color: accent-color;
}

.contactAdressListItemLink.map {
  color: title-dark-theme-color;
}
.contactAdressListItemLink.map:hover,
.contactAdressListItemLink.map:focus {
  color: accent-color;
}
.socialList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialListItem:not(:last-child) {
  margin-right: 10px;
}

.socialListLinkBlock {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: transition-time;
  transition-timing-function: transition-function;
  /* @include animation(); */
}

.socialListLinkIcons {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: transition-time;
  transition-timing-function: transition-function;
  /* @include animation(); */
}
@media screen and (max-width: 1199px) {
  .contact,
  .social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .footer {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1199px) {
    .social {
      margin-left: 165px;
      margin-right: 13px;
    }
    .sign {
      margin-left: 14px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    width: 100%;
    min-width: 1200px;
    max-width: 1600px;
  }
  .container {
    justify-content: space-between;
    width: 1200px;
  }

  .title {
    text-align: left;
  }

  .contact {
    margin-right: 69px;
  }

  .contactAdressListItem:not(:last-child) {
    margin-bottom: 9px;
  }
  .social {
    margin-right: 94px;
  }
  [btnatr="formSignBtn"] {
    margin-left: 12px;
  }
}
