@value transition-function, transition-time, animation-base, burger-and-close-btn, svg-color-accent from "../../../assets/utils/variables.module.css";

.burgerCloseIcon {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.burgerBtn {
  display: none;
}
@media screen and (max-width: 767px) {
  .burgerBtn {
    display: flex;
    background-color: transparent;
  }
  .isOpen.burgerBtn .burgerIcon {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .isOpen.burgerBtn .burgerCloseIcon {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }
}

.burgerWrapper {
  width: 40px;
  height: 40px;
  fill: burger-and-close-btn;
  transition-property: fill;
  transition-duration: transition-time;
  transition-timing-function: transition-function;
  /* animation: animation-base; */
  /* @include animation(); */
}

.burgerWrapper .burgerBtn:hover {
  fill: svg-color-accent;
}
