 .form-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
   }
  
  .form-custom-checkbox {
    display: flex;
    width: 16px;
    height: 15px;
    border: 1.5px solid $title-light-theme-color;
    border-radius: 2px;
    margin-right: 8px;
    background-color: transparent;
    background-origin: border-box;
    background-position: 1.5px 2.5px;
    background-repeat: no-repeat;
    background-size: 13px 12px; 
    transition-property: background-color, border;
    @include animation (); 
    .form-checkbox:checked + & {
        border: transparent;
        background-color: $svg-color-accent;
             }
            }

.checkbox-icon {
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 2px;
    fill: $title-dark-theme-color;
             }
           