@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #e5e5e5;
  font-size: 14px;
  margin: 0;
}

body {
  overflow: hidden;
}
body.is-unlocked {
  overflow: visible;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  display: block;
  height: auto;
}
button {
  border: none;
  background-color: transparent;
  padding: 0px;
  outline: none;
}

button:hover,
button:focus,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
label:hover,
label:focus {
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  display: block;
  font-style: normal;
  text-decoration: none;
}
